
.intro {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 50px;
}

.col-md-6 {
    text-align: center;
}

.home-overlay {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(https://www.flickr.com/photos/94488750@N06/15475163328/);
}

.header {
    color: #fff;
    background-attachment: scroll;
    background-image: url(https://www.flickr.com/photos/94488750@N06/15475163328/);
    text-align: center;
}



header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(https://farm4.staticflickr.com/3933/15452503420_fcf0c0c224_o.jpg);
}
